<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Interval" value="1800"/>
    <add key="MECInputPath" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Finance And Accounting\Month-End\Monitoring Bot\2 Input"/>
    <add key="MECDailyPath" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Finance And Accounting\Month-End\Monitoring Bot\3 Outputs"/>
    <add key="lineToken" value="Hf8VVumNhUDtuepBQBO0LYihuJ9JpZeA4ecDGlZdH5w"/>
    <add key="sqlConnectionString" value="RGF0YSBTb3VyY2U9cHR0LXJwYWRiLXAwMS5wdHQuY29ycDtJbml0aWFsIENhdGFsb2c9UFRUUlBBO1VzZXIgSUQ9cHR0cnBhdXNyO1Bhc3N3b3JkPWNwdHRycGF1c3I="/>
    <add key="calendarPTT" value="Calendar_Thailand_PTT"/>
  </appSettings>
</configuration>