<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Interval" value="1800"/>
    <add key="serverInterval" value="60"/>
    <add key="MECInputPath" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Finance And Accounting\Month-End\Monitoring Bot\2 Input"/>
    <add key="MECDailyPath" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Finance And Accounting\Month-End\Monitoring Bot\3 Outputs"/>
    <add key="lineToken" value="Hf8VVumNhUDtuepBQBO0LYihuJ9JpZeA4ecDGlZdH5w"/>
    <add key="sqlConnectionString" value="RGF0YSBTb3VyY2U9cHR0LXJwYWRiLXAwMS5wdHQuY29ycDtJbml0aWFsIENhdGFsb2c9UFRUUlBBO1VzZXIgSUQ9cHR0cnBhdXNyO1Bhc3N3b3JkPWNwdHRycGF1c3I="/>
    <add key="calendarPTT" value="Calendar_Thailand_PTT"/>
    <add key="MECConfig" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Configs\Finance And Accounting\Month-End\Config_PLC_MEC_MonitoringBot.xlsx"/>
    <add key="appServer" value="ptt-rpaapp-p01.ptt.corp"/>
    <add key="bankRecInterval" value="3600"/>
    <add key="bankRecMasterRefFile" value="\\ptt-rpafile-p01.ptt.corp\RPA-PTT\Finance And Accounting\Bank Reconciliation\1 References\Master Reference.xlsx"/>
    <add key="bankRecNotiConfigFile" value="D:\narut.t\Desktop\json\BankRecConfig.xlsx"/>
  </appSettings>
</configuration>